.selected{
    background: #000;
    color: #fff;
   
}
ul{
    margin-top: 1rem;
    
}
li{
    margin-bottom: 1rem;
}
button{
    width:33%;
    padding: .5rem;
    font-size: 1rem;
    letter-spacing: 2px;
    cursor: pointer;
}
form{
    width: 100%;
}